@import '../materialize/materialize.scss';
$lightVal: 42%;
$lightVal2: 48%;
$lightVal3: 38%;

body{
  // margin-top: -42px;
}
// #modal_0{
//   top: 4%;
// }
.section-heading{
  margin-top: 124px;
  margin-bottom: 64px;
}

.home-page{
  padding-top: 28px;
}

.search-form{
  padding: 22px;
}

.search-result{
  padding-left: 12px;
}

.search-result-label{
  padding-left: 24px;
}

.general-information{
  margin-bottom: 14px;
}

.result-link{
  .search-result-label{
    color: #0d47a1;
    float: right;
  }
  .search-result{
    color: black;
    // background-color: gray;

  }

  &:hover{
    text-decoration: underline;
  }
}

p{
  margin-top: 9px;
}

/* Animations */
.clockwise {
    -webkit-animation: clockwiseSpin 3s infinite linear;
    animation: clockwiseSpin 3s infinite linear;
    color: #4fc3f7;
}

@-webkit-keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

#nordic-standard-page > div > p:nth-child(3) > ul > li{
  list-style-type: disc;
  margin-left: 24px;
}

#image-area {
  margin-bottom: 16px;
  margin-top: 16px;
}

#modal_2{
  background-color: #f5f5f5;
}

h2 {
  color: #0d47a1;
}

h4{
  color: #0d47a1;
  background-image: linear-gradient( 135deg, lighten(white, 38%) 10%, lighten(#0d47a1, 60%) 100%);
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 4px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.error-message{
  // background-color: #ef5350;

  color: #ef5350;
  padding: 14px;
}

.modal{
  width: 80%;
  height: 700px;
  max-height: 97%;
  .open{
    top: 10%;
  }

  .modal-content{
    background-color: #f5f5f5;
    .editor-class{
      background-color: white;
    }
    h4{
      color: #0d47a1;
      background-image: linear-gradient( 135deg, lighten(white, 38%) 10%, lighten(#0d47a1, 60%) 100%);
      padding-top: 18px;
      padding-bottom: 18px;
      border-radius: 4px;
    }
  }
}



// .btn{
//   background-color: #348AC7;
//   &:hover{
//     background-color: lighten(#348AC7, 12%);
//   }
// }

.btn{
  // background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
// background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
// margin-top: 14px;
// margin-bottom: 14px;
// height: 44px;
// width: 162px;
// font-size: 18px;
// color: white;

background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
// border: 1px solid lighten(#00838f;, 44%);
// // background-image: linear-gradient( 135deg, lighten(white, 28%) 10%, lighten(#0d47a1, 60%) 100%);
}

.modal-footer{
  display: none;
}
.confirm{
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}
.edit{
  background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.delete{
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.selected-variation {
  border: 1px solid #0396FF;
}

.card {
  &:hover {
    cursor: pointer;
  }
}

.remove-button {
  color: #EA5455;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}

.delete-variant {
  color: #EA5455;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  // margin-top: -23px;
  // margin-right: -19px;
  &:hover {
    cursor: pointer;
  }
}

.fa-edit, .fa-check{
  // color: #32CCBC;
  color: #0396FF;
  font-size: 1.2em;
  transition: .3s;
  &:hover{
    cursor: pointer;
    color: darken(#0396FF, 23%);
  }
}

.fa-check{
  &:hover{
    color: #0396FF;
    cursor: default;
  }
}

.fa-prescription-bottle{
  color: #0277bd;
}

.fa-flask{
  color: #0277bd;
}

.fa-mortar-pestle{
  color: #0277bd;
}

.fa-clipboard{
  color: #0277bd;
}

#page-title{
//   background: #EDE574;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 4px;
  padding-left: 4px;
  padding: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.row{

}

#content-wrapper{
  margin-top: -22px;
}

.nav-wrapper{
  // background: #7474BF;
  // background: -webkit-linear-gradient(to top, #348AC7, #7474BF);
  // background: linear-gradient(to top, #348AC7, #7474BF);
  background-color: transparent;
  // border-bottom: 2px solid #eeeeee;

}

a.brand-logo{
  margin-left: 1.3%;
  color: #616161;
  font-size: 1.4em;
}

#nav-mobile > li > a{
  color: #00838f;
}

header{
  // background: #7474BF;
  // background: -webkit-linear-gradient(to top, #348AC7, #7474BF);
  // background: linear-gradient(to top, #348AC7, #7474BF);
  border-bottom: 2px solid #348AC7;
  margin: 0px;

  a{
    color: #00838f;
  }



  .row{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }

  // height: 40px;
  h1{
    // color: red;
    padding: 8px;
    font-size: 28px;
    margin: 0px;
  }

  #login{
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 5px;
    height: 30px;
    line-height: 27px;
    padding: 0px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 14px;
    text-transform: none;

    &:hover{
      background-color: white;
      color: #348AC7;
    }
  }
}

#side-nav{
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1976d2;
    box-shadow: 0 1px 0 0 #1976d2;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #1976d2;
    box-shadow: 0 1px 0 0 #1976d2;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #1976d2;
  }



  .collection a.collection-item{
    color: #5c6bc0;
  }



  .collapsible-header{}
  .collapsible-body{
    padding: 1px;
  }
  // a.collection-item:hover{
  //   background-color: #e8eaf6;
  // }



  #inner-dropdown, #inner-dropdown-ingredients{
    box-shadow: none;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
  }
  #inner-dropdown .collapsible-header, #inner-dropdown-ingredients .collapsible-header{
    padding-left: 34px;
    box-shadow: none;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
  #inner-dropdown .collapsible-body, #inner-dropdown-ingredients .collapsible-body{
    padding-left: 34px;
    box-shadow: none;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }

  .sub-item{
    margin-left: 24px;
    margin-top: 4px;
    a {
      color: #00b0ff;
      // font-weight: 500;

    }
  }
}

.key-term{
  background-color: #448aff;
  color: white;
  padding: 3px;
  border-radius: 4px;
  margin-right: 6px;
  letter-spacing: .08em;
}

.last-updated{
  color: #bdbdbd;
  i{
    font-size: 15px;
  }
}

h6{
  color: #424242;
  font-size: 1.2em;
}

td, th{
  // padding-left: 13px;
  text-align: center;
}

#product-page, #ingredient-page, #bulk-page, #login-page, #admin-page{
  h1{
    color: #0277bd;
    margin-bottom: 0px;
  }
  h4{
    color: #0d47a1;
    background-image: linear-gradient( 135deg, lighten(white, 38%) 10%, lighten(#0d47a1, 60%) 100%);
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 4px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  #revision-information{
    padding-top: 8px;
    padding-left: 3px;
    background-image: linear-gradient( 135deg, lighten(#FFF720,50%) 10%, lighten(#3CD500, 50%) 100%);
    margin-bottom: 22px;
  }

  #note-area{
    border: 2px solid lighten(#757575, 50%);
    // border: 2px solid l(#3CD500, 10%);
    // height: 240px;
    color: #757575;
    padding-left: 8px;
    padding-top: 2px;
    // padding-top: 4px;
    margin-bottom: 8px;
    background-color: white;
  }

  table{
    tbody{
      tr{
        border-bottom: 1px solid transparent;
      }
    }
  }

  .prices{
    li{
      display: block;
      font-weight: bold;
    }
  }

  .item-number{
    color: #00c853;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .04em;
    // margin-left: 8px;
  }

  ul{
    li{
      display: inline;
      margin-right: 23px;
      a{
        color: #00838f;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .admin-ul{
    li{
      display: block;
      a{
        color: #0277bd;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #prod-snapshot{
    // background: #7474BF;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, lighten(#348AC7, $lightVal2), lighten(#7474BF, $lightVal2));  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, lighten(#348AC7, $lightVal2), lighten(#7474BF, $lightVal2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // border-radius: 4px;
    // margin-left: 4px;

  }
  #product-images{
    // background-image: linear-gradient( 135deg, lighten(#F6CEEC, 38%) 10%, lighten(#D939CD, 34%) 100%);


    height: 80px;
    img{
      width: 122px;
      margin-right: 12px;

    }
  }


}

.faq-item{
  // background: #7474BF;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal));  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: lighten(#fafafa, 1%);
  border: 2px solid #eeeeee;
  border-radius: 4px;

  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 18px;
  margin-bottom: 8px;
}

.latest-updates-title {
  color: #0277bd;
  font-style: italic;
}

.featured-updates-title {
  color: #0277bd;
  font-style: italic;
}

.rec-mod-item{
  // background: #7474BF;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal));  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: lighten(#fafafa, 1%);
  border: 2px solid #eeeeee;
  border-radius: 4px;

  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 18px;
  margin-bottom: 8px;

  color: gray;
}

.featured-update-item{
  // background: #7474BF;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal));  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, lighten(#348AC7, $lightVal), lighten(#7474BF, $lightVal)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: lighten(#fafafa, 1%);
  border: 2px solid #eeeeee;
  border-radius: 4px;

  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 18px;
  margin-bottom: 8px;

  color: gray;
}


.rec-mod-link{
  color: #0277bd;

}

.update-message{
  background: #EDE574;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 4px;

  padding: 4px;
  padding-left: 12px;
  margin-top: 18px;
  margin-bottom: 8px;
}

.flash{
  color: #ff4081;
  font-size: 1.2em;
}
